<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=>${title}</title>
    <meta name="description" th:content="${description}">
    <meta name="author" content="https://github.com/keebrunner/">
    <meta name="theme-color" content="#87CEEB">
    <link rel="icon" type="image/svg+xml" href="img/hw-adhd-brain-icon.svg">
    <meta property="og:url" th:content="${url}">
    <meta property="og:type" content="website">
    <meta property="og:title" th:content="${title}">
    <meta property="og:description" th:content="${description}">
    <meta property="og:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta property="og:locale" content="en-En"/>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://keebrunner.github.io/">
    <meta property="twitter:url" th:content="${url}">
    <meta name="twitter:title" th:content="${title}">
    <meta name="twitter:site" content="@keebrunr">
    <meta name="twitter:description" th:content="${description}">
    <meta name="twitter:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta name="twitter:image:alt" content="keebrunr Logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    </head>
<body class="max-w-3xl mx-auto">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-134GTB3HZ8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-134GTB3HZ8');
</script>
<header>
    <nav class="mt-2 flex items-center justify-between">
        <button aria-label="" class="w-6 h-6 cursor-pointer">
            <img id="myButton" src="" alt="">
        </button>
        <ul class="flex space-x-4 list-none">
            <li><a href="index.html">about</a></li>
            <li><a href="blog.html">blog</a></li>
            <li><a href="java.html" title="org-mode progress page">org</a></li>
            <li><a href="metrics.html" title="progress metrics page">metrics</a></li>
        </ul>
    </nav>
</header>
<main class="mt-8 rounded-lg shadow-md">
    <article class="p-8" id="myArticle" th:text=>${article}</article>
    <aside class="pl-8 pb-4">
        <h2 class="mb-1">Latest Posts</h2>
        <ul class="list-none">
            ${latestPosts}
        </ul>
    </aside>
</main>
<footer class="mt-8 mb-2 text-center">
    <span style="color: #26d7fe; font-weight: bold;">keebrunr 2024</span>
    <a href="mailto:keebrunner@gmail.com">
        <img src="img/gmail.svg" alt="Gmail icon" class="inline-block h-6 w-6 ml-4 mr-4">
    </a>
    <a href="https://github.com/keebrunner">
        <img id="githubIcon" src="" alt="GitHub icon" class="inline-block h-6 w-6 mr-4">
    </a>
    <a href="https://www.reddit.com/user/keebrunr">
        <img src="img/reddit.svg" alt="Reddit icon" class="inline-block h-6 w-6">
    </a>
</footer>
<button id="backToTop" aria-label="back to top button" class="fixed bottom right py-2 px-4 rounded hidden backToTop">
<span class="speech-bubble">
<img src="img/arrow.svg" alt="back to top icon" class="w-full h-full">
</span>
</button>
<script src="js/theme.js"></script>
<script src="js/back-to-top.js"></script>
</body>
</html>