<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=>My Index Page</title>
    <meta name="description" content="This is a description of my blog post.">
    <meta name="author" content="https://github.com/keebrunner/">
    <meta name="theme-color" content="#87CEEB">
    <link rel="icon" type="image/svg+xml" href="hw-adhd-brain-icon.svg">
    <meta property="og:url" content="index.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="My Index Page">
    <meta property="og:description" content="This is a description of my blog post.">
    <meta property="og:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta property="og:locale" content="en-En"/>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://keebrunner.github.io/">
    <meta property="twitter:url" content="index.html">
    <meta name="twitter:title" content="My Index Page">
    <meta name="twitter:site" content="@keebrunr">
    <meta name="twitter:description" content="This is a description of my blog post.">
    <meta name="twitter:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta name="twitter:image:alt" content="keebrunr Logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body class="max-w-3xl mx-auto">
<header>
    <nav class="mt-2 flex items-center justify-between">
        <button aria-label="" class="w-6 h-6 cursor-pointer">
            <img id="myButton" src="" alt="">
        </button>
        <ul class="flex space-x-4 list-none">
            <li><a href="index.html">about</a></li>
            <li><a href="articles">blog</a></li>
        </ul>
    </nav>
</header>
<main class="mt-8 rounded-lg shadow-md">
    <article class="p-8" id="myArticle" th:text=><h1>This is my content</h1>
<p><span style="color: #26d7fe; font-size: 1.25rem; font-style: italic;">02 September 2024 09:19:00</span></p>
<p><br> <br></p>
<h2>Lorem Ipsum Dolor Sit Amet: Extended Version</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultricies diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, eget tincidunt orci nisi quis enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus egestas. Donec sollicitudin adipiscing ligula. Aenean gravida nunc sed pede. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras lacinia. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt males</p>
</article>
    <aside class="p-8">
        <h2 class="mb-4">Latest Posts</h2>
        <ul class="list-none">
            <li class="post-item"><a href="/blog/my-blog-post.html">My Blog Post</a></li><li class="post-item"><a href="/blog/my-blog-post.html">My Blog Post</a></li><li class="post-item"><a href="/blog/my-blog-post.html">My Blog Post</a></li>
        </ul>
    </aside>
</main>
<footer class="mt-8 mb-2 text-center">
    <a href="#">keebrunr 2024</a>
</footer>
<button id="backToTop" aria-label="back to top button" class="fixed bottom right py-2 px-4 rounded hidden backToTop">
<span class="speech-bubble">
<img src="img/arrow.svg" alt="back to top icon" class="w-full h-full">
</span>
</button>
<script src="js/theme.js"></script>
<script src="js/back-to-top.js"></script>
</body>
</html>