<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=>testTitle</title>
    <meta name="description" content="testDescription">
    <meta name="author" content="https://github.com/keebrunner/">
    <meta name="theme-color" content="#87CEEB">
    <link rel="icon" type="image/svg+xml" href="hw-adhd-brain-icon.svg">
    <meta property="og:url" content="http://localhost:8080/generate">
    <meta property="og:type" content="website">
    <meta property="og:title" content="testTitle">
    <meta property="og:description" content="testDescription">
    <meta property="og:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta property="og:locale" content="en-En"/>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://keebrunner.github.io/">
    <meta property="twitter:url" content="http://localhost:8080/generate">
    <meta name="twitter:title" content="testTitle">
    <meta name="twitter:site" content="@keebrunr">
    <meta name="twitter:description" content="testDescription">
    <meta name="twitter:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta name="twitter:image:alt" content="keebrunr Logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body class="max-w-3xl mx-auto">
<header>
    <nav class="mt-2 flex items-center justify-between">
        <button aria-label="" class="w-6 h-6 cursor-pointer">
            <img id="myButton" src="" alt="">
        </button>
        <ul class="flex space-x-4 list-none">
            <li><a href="index.html">about</a></li>
            <li><a href="blog">blog</a></li>
        </ul>
    </nav>
</header>
<main class="mt-8">
    <article class="rounded-lg shadow-md p-8" id="myArticle" th:text=><h1>This is my content</h1>
<p><span style="color: #26d7fe; font-size: 1.25rem; font-style: italic;">27 September 2024 20:40:16</span></p>
<p><br> <br></p>
<h2>Восхождение сознания: симфония нейронов и танец синапсов</h2>
<p>Мозг - это космос, заключенный в хрупкой костяной шкатулке. Миллиарды нейронов, словно звезды, мерцают в его глубинах, сплетаясь в замысловатые сети, подобные галактическим спиралям. Каждый импульс, каждый синаптический разряд - это нота в грандиозной симфонии сознания, рождающей мысли, чувства, мечты и саму ткань нашего &quot;Я&quot;.</p>
<p>Нейрофизиология - это ключ к разгадке этой величественной тайны. Она позволяет нам заглянуть за кулисы сознания, увидеть танец нейромедиаторов, услышать шепот ионных каналов, понять, как из хаоса электрических импульсов возникает упорядоченная структура мыслей и действий.</p>
<p>Путешествие в мир нейронов - это захватывающее приключение, полное открытий и чудес. Мы узнаем, как нейроны общаются друг с другом, образуя сложные нейронные ансамбли, как формируются воспоминания, как возникают эмоции, как работает наше внимание и как мы принимаем решения.</p>
<p><strong>Пластичность мозга - это источник надежды и вдохновения.</strong> Нейроны способны изменять свои связи, адаптироваться к новым условиям, учиться и развиваться на протяжении всей жизни. Это означает, что мы не являемся заложниками своих генов или раннего опыта. Мы можем формировать свой мозг, тренировать его, развивать новые навыки и способности.</p>
<p><strong>Нейротехнологии открывают перед нами захватывающие перспективы.</strong> Мы учимся читать мысли с помощью электроэнцефалографии, управлять протезами силой мысли, лечить нейродегенеративные заболевания с помощью стимуляции мозга. Будущее нейрофизиологии полно обещаний и возможностей.</p>
<p><strong>Изучение мозга - это не просто научное исследование, это поиск самих себя.</strong>  Понимая, как работает наш мозг, мы можем лучше понять самих себя, свои сильные и слабые стороны, свои возможности и ограничения.  Нейрофизиология помогает нам стать более осознанными, более эффективными, более счастливыми.</p>
<p><strong>Пусть эта статья станет для вас источником вдохновения на пути познания самого себя и великой тайны сознания!</strong></p>
</article>
</main>
<footer class="mt-8 mb-2 text-center">
    <a href="#">keebrunr 2024</a>
</footer>
<button id="backToTop" aria-label="back to top button" class="fixed bottom right py-2 px-4 rounded hidden backToTop">
<span class="speech-bubble">
<img src="arrow.svg" alt="back to top icon" class="w-full h-full">
</span>
</button>
<script src="theme.js"></script>
<script src="back-to-top.js"></script>
</body>
</html>