<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=>testTitle</title>
    <meta name="description" content="testDescription">
    <meta name="author" content="https://github.com/keebrunner/">
    <meta name="theme-color" content="#87CEEB">
    <link rel="icon" type="image/svg+xml" href="hw-adhd-brain-icon.svg">
    <meta property="og:url" content="http://localhost:8080/generate">
    <meta property="og:type" content="website">
    <meta property="og:title" content="testTitle">
    <meta property="og:description" content="testDescription">
    <meta property="og:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta property="og:locale" content="en-En"/>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://keebrunner.github.io/">
    <meta property="twitter:url" content="http://localhost:8080/generate">
    <meta name="twitter:title" content="testTitle">
    <meta name="twitter:site" content="@keebrunr">
    <meta name="twitter:description" content="testDescription">
    <meta name="twitter:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta name="twitter:image:alt" content="keebrunr Logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="theme-loader.js"></script>
</head>
<body class="max-w-3xl mx-auto">
<header>
    <nav class="mt-2 flex items-center justify-between">
        <button aria-label="" class="w-6 h-6 cursor-pointer">
            <img id="myButton" src="" alt="">
        </button>
        <ul class="flex space-x-4 list-none">
            <li><a href="base.html">about</a></li>
            <li><a href="blog">blog</a></li>
        </ul>
    </nav>
</header>
<main class="mt-8">
    <article class="rounded-lg shadow-md p-8" id="myArticle" th:text=><h1>This is my content</h1>
<p><span style="color: #26d7fe; font-size: 1.25rem; font-style: italic;">27 September 2024 20:40:16</span></p>
<p><br> <br></p>
<p>Test</p>
</article>
</main>
<footer class="mt-8 mb-2 text-center">
    <a href="#">keebrunr 2024</a>
</footer>
<button id="backToTop" aria-label="back to top button" class="fixed bottom right py-2 px-4 rounded hidden backToTop">
<span class="speech-bubble">
<img src="arrow.svg" alt="back to top icon" class="w-full h-full">
</span>
</button>
<script src="theme-switcher.js"></script>
<script src="back-to-top.js"></script>
</body>
</html>