<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=>Overcoming Neurodiversity. A Journey into Bioinformatics with HARDWARE ADHD.</title>
    <meta name="description" content="A personal blog exploring the challenges and triumphs of navigating a career in bioinformatics while living with the effects of cerebral palsy and ADHD.">
    <meta name="author" content="https://github.com/keebrunner/">
    <meta name="theme-color" content="#87CEEB">
    <link rel="icon" type="image/svg+xml" href="img/hw-adhd-brain-icon.svg">
    <meta property="og:url" content="index.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Overcoming Neurodiversity. A Journey into Bioinformatics with HARDWARE ADHD.">
    <meta property="og:description" content="A personal blog exploring the challenges and triumphs of navigating a career in bioinformatics while living with the effects of cerebral palsy and ADHD.">
    <meta property="og:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta property="og:locale" content="en-En"/>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://keebrunner.github.io/">
    <meta property="twitter:url" content="index.html">
    <meta name="twitter:title" content="Overcoming Neurodiversity. A Journey into Bioinformatics with HARDWARE ADHD.">
    <meta name="twitter:site" content="@keebrunr">
    <meta name="twitter:description" content="A personal blog exploring the challenges and triumphs of navigating a career in bioinformatics while living with the effects of cerebral palsy and ADHD.">
    <meta name="twitter:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta name="twitter:image:alt" content="keebrunr Logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    </head>
<body class="max-w-3xl mx-auto">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-134GTB3HZ8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-134GTB3HZ8');
</script>
<header>
    <nav class="mt-2 flex items-center justify-between">
        <button aria-label="" class="w-6 h-6 cursor-pointer">
            <img id="myButton" src="" alt="">
        </button>
        <ul class="flex space-x-4 list-none">
            <li><a href="index.html">about</a></li>
            <li><a href="blog.html">blog</a></li>
            <li><a href="java.html" title="org-mode progress page">org</a></li>
            <li><a href="metrics.html" title="progress metrics page">metrics</a></li>
        </ul>
    </nav>
</header>
<main class="mt-8 rounded-lg shadow-md">
    <article class="p-8" id="myArticle" th:text=><h1>Overcoming Neurodiversity: A Journey into HARDWARE ADHD</h1>
<p><span style="color: #26d7fe; font-size: 1.25rem; font-style: italic;">03 October 2024 08:18:36</span></p>
<p><br> <br></p>
<h2>MY HARDWARE ADHD BRAIN JOURNEY</h2>
<p>This blog is a personal exploration of my journey navigating the effects of neurodiversity, specifically ADHD, stemming from cerebral palsy due to a perinatal stroke. The stroke affected the parietal lobe of my brain, which is responsible for spatial reasoning, emotional intelligence, decision-making, and task-switching. Despite these challenges, I am determined to build a career in the fascinating field of bioinformatics.</p>
<p>This blog will serve as a chronicle of my experiences, insights, and learnings as I strive to overcome obstacles, develop new skills, and ultimately achieve my professional goals. I hope that by sharing my story, I can inspire others with neurodiversity, particularly those with ADHD, and provide valuable perspectives on the specifics of how brain networks function differently in individuals with neurodiversity.
<br> <br>
P.S.  Truth be told, this blog is a lifeline against loneliness.</p>
</article>
    <aside class="pl-8 pb-4">
        <h2 class="mb-1">Latest Posts</h2>
        <ul class="list-none">
            <li class="post-item"><a href="/blog/2024-09-04-hardware-adhd-unveiling-behavioral-patterns-and-the-power-of-external-triggers-pt0.html">2024-09-04 - Hardware ADHD Unveiling Behavioral Patterns and the Power of External Triggers - pt0</a></li><li class="post-item"><a href="/blog/2024-08-26-harnessing-my-hardware-adhd-for-deep-focus.html">2024-08-26 - Harnessing My “Hardware ADHD” for Deep Focus</a></li><li class="post-item"><a href="/blog/2024-08-24-the-slow-steady-roll-embracing-neurodiversity-and-setting-a-course.html">2024-08-24 - The Slow, Steady Roll. Embracing Neurodiversity and Setting a Course</a></li>
        </ul>
    </aside>
</main>
<footer class="mt-8 mb-2 text-center">
    <span style="color: #26d7fe; font-weight: bold;">keebrunr 2024</span>
    <a href="mailto:keebrunner@gmail.com">
        <img src="img/gmail.svg" alt="Gmail icon" class="inline-block h-6 w-6 ml-4 mr-4">
    </a>
    <a href="https://github.com/keebrunner">
        <img id="githubIcon" src="" alt="GitHub icon" class="inline-block h-6 w-6 mr-4">
    </a>
    <a href="https://www.reddit.com/user/keebrunr">
        <img src="img/reddit.svg" alt="Reddit icon" class="inline-block h-6 w-6">
    </a>
</footer>
<button id="backToTop" aria-label="back to top button" class="fixed bottom right py-2 px-4 rounded hidden backToTop">
<span class="speech-bubble">
<img src="img/arrow.svg" alt="back to top icon" class="w-full h-full">
</span>
</button>
<script src="js/theme.js"></script>
<script src="js/back-to-top.js"></script>
</body>
</html>