<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=>Hardware ADHD Unveiling Behavioral Patterns and the Power of External Triggers - pt0</title>
    <meta name="description" content="Exploring the behavioral patterns associated with my stroke-induced ADHD, particularly the challenges in task-switching and the crucial role of external triggers in navigating these difficulties, drawing from personal experiences.">
    <meta name="author" content="https://github.com/keebrunner/">
    <meta name="theme-color" content="#87CEEB">
    <link rel="icon" type="image/svg+xml" href="../img/hw-adhd-brain-icon.svg">
    <meta property="og:url" content="2024-09-04-hardware-adhd-unveiling-behavioral-patterns-and-the-power-of-external-triggers-pt0.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hardware ADHD Unveiling Behavioral Patterns and the Power of External Triggers - pt0">
    <meta property="og:description" content="Exploring the behavioral patterns associated with my stroke-induced ADHD, particularly the challenges in task-switching and the crucial role of external triggers in navigating these difficulties, drawing from personal experiences.">
    <meta property="og:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta property="og:locale" content="en-En"/>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://keebrunner.github.io/">
    <meta property="twitter:url" content="2024-09-04-hardware-adhd-unveiling-behavioral-patterns-and-the-power-of-external-triggers-pt0.html">
    <meta name="twitter:title" content="Hardware ADHD Unveiling Behavioral Patterns and the Power of External Triggers - pt0">
    <meta name="twitter:site" content="@keebrunr">
    <meta name="twitter:description" content="Exploring the behavioral patterns associated with my stroke-induced ADHD, particularly the challenges in task-switching and the crucial role of external triggers in navigating these difficulties, drawing from personal experiences.">
    <meta name="twitter:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta name="twitter:image:alt" content="keebrunr Logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body class="max-w-3xl mx-auto">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-134GTB3HZ8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-134GTB3HZ8');
</script>
<header>
    <nav class="mt-2 flex items-center justify-between">
        <button aria-label="" class="w-6 h-6 cursor-pointer">
            <img id="myButton" src="" alt="">
        </button>
        <ul class="flex space-x-4 list-none">
            <li><a href="../index.html">about</a></li>
            <li><a href="../blog.html">blog</a></li>
            <li><a href="../java.html" title="org-mode progress page">org</a></li>
            <li><a href="../metrics.html" title="progress metrics page">metrics</a></li>
        </ul>
    </nav>
</header>
<main class="mt-8">
    <article class="rounded-lg shadow-md p-8" id="myArticle" th:text=><h1>&quot;Hardware ADHD&quot; Unveiling Behavioral Patterns and the Power of External Triggers - pt0</h1>
        <p><span style="color: #26d7fe; font-size: 1.25rem; font-style: italic;">04 October 2024 08:42:36</span></p>
        <p><br> <br></p>
<p>The &quot;Executive functioning, ADHD symptoms and resting state functional connectivity in children with perinatal stroke&quot; study from The Alberta Children’s Hospital continues to illuminate my understanding of my neurodiversity. It's becoming increasingly clear that the damage to my parietal lobe, the brain region responsible for task allocation, has profoundly shaped my behavioral patterns, particularly in relation to ADHD.</p>
<p>A recent experience brought this into sharp focus. I spent an entire month building this simple blog on GitHub Pages – a task that realistically could have been completed in a few days, or even half a day. While I managed to avoid outright procrastination, I fell into a different trap: fanaticism and perfectionism. I had to consciously force myself to stop, highlighting the challenges of self-regulation that come with &quot;hardware ADHD.&quot;</p>
<p>This experience reinforces the crucial role of external factors in managing my ADHD. Without them, I can easily get lost in the internal world, neglecting the external demands and responsibilities. As I reflect on the study's findings – the reduced connectivity between different brain regions and the resulting difficulties in planning, decision-making, and cognitive flexibility – it becomes evident that external triggers are not just helpful, but essential.</p>
<p>One of the most striking manifestations of my &quot;hardware ADHD&quot; is the immense difficulty I experience with task-switching. Once I'm engaged in a task, disengaging and transitioning to another feels almost impossible. It's as if my brain becomes locked onto a specific track, unable to smoothly switch gears. This observation aligns perfectly with the study's findings and highlights the neurological basis of my struggles.</p>
<p>What's becoming increasingly apparent is that the parietal lobe damage, responsible for task allocation, cannot be bypassed without external intervention. No amount of motivation or time management techniques can fully compensate for this neurological &quot;hardware&quot; issue. External cues and prompts become the necessary force to help my brain disengage from its hyperfocus and redirect its attention.</p>
<p>Despite the challenges, this experience with building the blog has yielded positive results. I haven't burned out; in fact, I feel more persistent and eager to move on to my next goal: learning Java. I view this blog as a small window to the external world, a tangible manifestation of my desire to connect and engage. It's encouraging, even if the feeling of accomplishment isn't as euphoric as I might have expected. This, too, I suspect, is part of my &quot;hardware ADHD.&quot; I recall reading a comment from someone with ADHD who noted that the lack of intense satisfaction from achievements, particularly in areas like sports, can make certain pursuits challenging.</p>
<p>This observation, however, is just a starting point. Further self-exploration is needed, but for now, my focus shifts to Java. This initial reflection may be less structured and detailed than I'd ideally like, but the desire to move forward is strong. I recognize the need for continued self-analysis, and I trust that future observations will be more comprehensive and insightful. The path unfolds as I walk it.</p>
</article>
</main>
<footer class="mt-8 mb-2 text-center">
    <span style="color: #26d7fe; font-weight: bold;">keebrunr 2024</span>
    <a href="mailto:keebrunner@gmail.com">
        <img src="../img/gmail.svg" alt="Gmail icon" class="inline-block h-6 w-6 ml-4 mr-4">
    </a>
    <a href="https://github.com/keebrunner">
        <img id="githubIcon" src="" alt="GitHub icon" class="inline-block h-6 w-6 mr-4">
    </a>
    <a href="https://www.reddit.com/user/keebrunr">
        <img src="../img/reddit.svg" alt="Reddit icon" class="inline-block h-6 w-6">
    </a>
</footer>
<button id="backToTop" aria-label="back to top button" class="fixed bottom right py-2 px-4 rounded hidden backToTop">
<span class="speech-bubble">
<img src="../img/arrow.svg" alt="back to top icon" class="w-full h-full">
</span>
</button>
<script src="../js/theme.js"></script>
<script src="../js/back-to-top.js"></script>
</body>
</html>