<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=>Harnessing My “Hardware ADHD” for Deep Focus</title>
    <meta name="description" content="Exploring the potential benefits of my stroke-induced ADHD, particularly the ability to achieve hyperfocus despite task-switching difficulties.">
    <meta name="author" content="https://github.com/keebrunner/">
    <meta name="theme-color" content="#87CEEB">
    <link rel="icon" type="image/svg+xml" href="../img/hw-adhd-brain-icon.svg">
    <meta property="og:url" content="2024-08-26-harnessing-my-hardware-adhd-for-deep-focus.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Harnessing My “Hardware ADHD” for Deep Focus">
    <meta property="og:description" content="Exploring the potential benefits of my stroke-induced ADHD, particularly the ability to achieve hyperfocus despite task-switching difficulties.">
    <meta property="og:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta property="og:locale" content="en-En"/>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://keebrunner.github.io/">
    <meta property="twitter:url" content="2024-08-26-harnessing-my-hardware-adhd-for-deep-focus.html">
    <meta name="twitter:title" content="Harnessing My “Hardware ADHD” for Deep Focus">
    <meta name="twitter:site" content="@keebrunr">
    <meta name="twitter:description" content="Exploring the potential benefits of my stroke-induced ADHD, particularly the ability to achieve hyperfocus despite task-switching difficulties.">
    <meta name="twitter:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta name="twitter:image:alt" content="keebrunr Logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body class="max-w-3xl mx-auto">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-134GTB3HZ8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-134GTB3HZ8');
</script>
<header>
    <header>
        <nav class="mt-2 flex items-center justify-between">
            <button aria-label="" class="w-6 h-6 cursor-pointer">
                <img id="myButton" src="" alt="">
            </button>
            <ul class="flex space-x-4 list-none">
                <li><a href="index.html">about</a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="java.html" title="org-mode progress page">org</a></li>
                <li><a href="metrics.html" title="progress metrics page">metrics</a></li>
            </ul>
        </nav>
    </header>
</header>
<main class="mt-8">
    <article class="rounded-lg shadow-md p-8" id="myArticle" th:text=><h1>Harnessing My “Hardware ADHD” for Deep Focus</h1>
<p>The &quot;Executive functioning, ADHD symptoms and resting state functional connectivity in children with perinatal stroke&quot; study from The Alberta Children’s Hospital has revealed a fascinating aspect of my neurodiversity: the potential to turn my inherent limitations into advantages. The study highlights that stroke affecting the right parietal region can significantly impede task-switching. In fact, the researchers state:</p>
<blockquote>
<p>&quot;Children with stroke exhibited reduced connectivity between different regions within each network (DMN, DAN, FPN), particularly in the affected hemisphere. This might explain the difficulties in planning, decision-making, social cognition, and emotional regulation faced by children with perinatal stroke.&quot;</p>
</blockquote>
<p>In my case, this difficulty manifests as an almost obsessive inability to disengage from a task once I'm convinced of its importance. It's like a hyperfocus with an &quot;always-on&quot; switch.</p>
<p>Interestingly, neuroscientist Andrew Huberman mentioned a similar &quot;life hack&quot; in one of his podcasts. During his college years, he would convince himself that he enjoyed whatever he was studying, and it actually worked! It seems the sheer force of my neurologically-driven compulsion can override the usual ADHD chaos, even without genuine enthusiasm for the subject matter.</p>
<p>Of course, it’s not a perfect system. I still grapple with intrusive thoughts and impulses, and the constant need for background noise – Brownian noise, in particular, seems to soothe my overactive Default Mode Network (DMN). However, I believe that by consciously engaging my anterior mid cingulate cortex, the brain region associated with willpower (as Dr. Huberman explains), I can further enhance this focus.</p>
<p>This conscious control, this ability to turn what I once perceived as neurological limitations—my &quot;hardware bugs&quot;—into features, is truly empowering. My brain may still be a chaotic orchestra, but I am learning to conduct the music, to harness that energy for productive work. Mindfulness will undoubtedly play a key role in this ongoing process. But for now, I'm diving into the intricacies of Emacs org-mode, aiming to mold it into a system that can orchestrate my ADHD chaos. The task is far from trivial: how to create a flexible structure that accommodates my inherent inability to adhere to rigid schedules while still ensuring I meet deadlines? It promises to be a captivating experiment!</p>
</article>
</main>
<footer class="mt-8 mb-2 text-center">
    <span style="color: #26d7fe; font-weight: bold;">keebrunr 2024</span>
    <a href="mailto:keebrunner@gmail.com">
        <img src="../img/gmail.svg" alt="Gmail icon" class="inline-block h-6 w-6 ml-4 mr-4">
    </a>
    <a href="https://github.com/keebrunner">
        <img id="githubIcon" src="" alt="GitHub icon" class="inline-block h-6 w-6 mr-4">
    </a>
    <a href="https://www.reddit.com/user/keebrunr">
        <img src="../img/reddit.svg" alt="Reddit icon" class="inline-block h-6 w-6">
    </a>
</footer>
<button id="backToTop" aria-label="back to top button" class="fixed bottom right py-2 px-4 rounded hidden backToTop">
<span class="speech-bubble">
<img src="../img/arrow.svg" alt="back to top icon" class="w-full h-full">
</span>
</button>
<script src="../js/theme.js"></script>
<script src="../js/back-to-top.js"></script>
</body>
</html>