<!-- post.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=>The Slow, Steady Roll. Embracing Neurodiversity and Setting a Course</title>
    <meta name="description" content="Reflecting on the challenges and unexpected advantages of my neurodiversity, particularly the ability to leverage intense focus for productive work, and exploring strategies for managing ADHD and achieving goals.">
    <meta name="author" content="https://github.com/keebrunner/">
    <meta name="theme-color" content="#87CEEB">
    <link rel="icon" type="image/svg+xml" href="../img/hw-adhd-brain-icon.svg">
    <meta property="og:url" content="2024-08-24-the-slow-steady-roll-embracing-neurodiversity-and-setting-a-course.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="The Slow, Steady Roll. Embracing Neurodiversity and Setting a Course">
    <meta property="og:description" content="Reflecting on the challenges and unexpected advantages of my neurodiversity, particularly the ability to leverage intense focus for productive work, and exploring strategies for managing ADHD and achieving goals.">
    <meta property="og:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta property="og:locale" content="en-En"/>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://keebrunner.github.io/">
    <meta property="twitter:url" content="2024-08-24-the-slow-steady-roll-embracing-neurodiversity-and-setting-a-course.html">
    <meta name="twitter:title" content="The Slow, Steady Roll. Embracing Neurodiversity and Setting a Course">
    <meta name="twitter:site" content="@keebrunr">
    <meta name="twitter:description" content="Reflecting on the challenges and unexpected advantages of my neurodiversity, particularly the ability to leverage intense focus for productive work, and exploring strategies for managing ADHD and achieving goals.">
    <meta name="twitter:image"
          content="https://github.com/keebrunner/keebrunner.github.io/blob/gh-pages/brain-mapping.webp">
    <meta name="twitter:image:alt" content="keebrunr Logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body class="max-w-3xl mx-auto">
<header>
    <nav class="mt-2 flex items-center justify-between">
        <button aria-label="" class="w-6 h-6 cursor-pointer">
            <img id="myButton" src="" alt="">
        </button>
        <ul class="flex space-x-4 list-none">
            <li><a href="../index.html">about</a></li>
            <li><a href="../blog.html">blog</a></li>
        </ul>
    </nav>
</header>
<main class="mt-8">
    <article class="rounded-lg shadow-md p-8" id="myArticle" th:text=><h1>The Slow, Steady Roll: Embracing Neurodiversity and Setting a Course</h1>
<p>The &quot;Executive functioning, ADHD symptoms and resting state functional connectivity in children with perinatal stroke&quot; study at The Alberta Children’s Hospital, coupled with my own ongoing exploration of neurophysiology and neurochemistry, has been genuinely transformative. It's allowed me to understand and accept my strengths and weaknesses, ultimately enabling me to build a future with a renewed sense of responsibility and agency.</p>
<p>For a long time, I've grappled with pronounced ADHD symptoms and other neurophysiological challenges. For instance, task-switching has always been an insurmountable hurdle, something I now recognize as a consequence of my perinatal stroke. While it's a constant struggle, it's become almost fascinating to observe these patterns in myself.</p>
<p>My time management still fluctuates wildly, and creating a rigid schedule that I can adhere to 100% remains practically impossible. But the key difference now lies in my perspective. Instead of crippling self-disappointment, I find a strange sense of peace and even satisfaction in recognizing these limitations. Crucially, this understanding allows me to plan and pursue my goals in a way that accommodates my neurodiversity.</p>
<p>And that is incredibly empowering! It’s a game-changer. I’m even considering developing a strategy based on my experiences and sharing it with others facing similar diagnoses. It seems I may have finally found my calling.</p>
<p>Surprisingly, my progress now resembles a slow, steady steamroller. There are still bumps and deviations, but they feel manageable, controlled. The feeling is indescribable.</p>
<p>Having fine-tuned my preliminary setup and addressed my initial desires, it's time to delve deeply into Java programming. I'm aiming to be interview-ready by the New Year. The financial pressures are mounting, making success all the more desirable. While I understand the dangers of setting such rigid, potentially disappointing deadlines, especially given my neurology, I'm choosing this as a test objective. It's a way to debug my new behavioral strategy, analyze the results, and draw more mature conclusions moving forward.</p>
<p>Furthermore, I'm even starting to see that my stroke-induced, exaggerated ADHD symptoms might have a silver lining, however strange that may seem!</p>
<h2>Considering the Key Findings</h2>
<p>It is fascinating to consider the key findings of the &quot;Executive functioning, ADHD symptoms and resting state functional connectivity in children with perinatal stroke&quot; study in this light:</p>
<p>Reduced within-network connectivity: Children with stroke exhibited reduced connectivity between different regions within each network (DMN, DAN, FPN), particularly in the affected hemisphere.</p>
<p>Disrupted between-network connectivity: Decreased anticorrelations between the DMN and task-positive networks (DAN, FPN) were also observed, indicating a disrupted balance between resting states and active focus.</p>
<p>Relationship with cognitive impairments: The most significant finding was the reduced connectivity between the MPFC (DMN) and PPCLes (FPN in the affected hemisphere). This might explain the difficulties in planning, decision-making, social cognition, and emotional regulation faced by children with perinatal stroke.</p>
<p>Unexpected finding: Researchers also discovered a positive correlation between the PCC (DMN in the left, unaffected hemisphere) and PPCNonLes (FPN in the right, unaffected hemisphere), which was associated with lower cognitive performance. This might indicate inefficient brain compensation, leading to an overload of cognitive resources.</p>
<p>In essence, focusing is an immense, almost insurmountable challenge for me. My brain operates with both task-positive networks and the default mode network simultaneously, generating a distracting stream of thoughts. However, this &quot;bug&quot; allows me to approach problems from diverse, unexpected angles! It even makes me wonder if Leonardo da Vinci also had cerebral palsy, although his case was likely limited to dyslexia and ADHD.</p>
<p>Furthermore, my severe, brain-based ADHD occasionally allows me to enter prolonged, anomalous hyperfocus sessions during work. This is yet another superpower bestowed upon me and others like me by nature. It will be incredibly fascinating to explore myself further, especially in a way that benefits my career. I dream of a future where I can connect myself to an MRI 24/7 and conduct scientific experiments on myself!</p>
</article>
</main>
<footer class="mt-8 mb-2 text-center">
    <span style="color: #26d7fe; font-weight: bold;">keebrunr 2024</span>
    <a href="mailto:keebrunner@gmail.com">
        <img src="../img/gmail.svg" alt="Gmail icon" class="inline-block h-6 w-6 ml-4 mr-4">
    </a>
    <a href="https://github.com/keebrunner">
        <img id="githubIcon" src="" alt="GitHub icon" class="inline-block h-6 w-6 mr-4">
    </a>
    <a href="https://www.reddit.com/user/keebrunr">
        <img src="../img/reddit.svg" alt="Reddit icon" class="inline-block h-6 w-6">
    </a>
</footer>
<button id="backToTop" aria-label="back to top button" class="fixed bottom right py-2 px-4 rounded hidden backToTop">
<span class="speech-bubble">
<img src="../img/arrow.svg" alt="back to top icon" class="w-full h-full">
</span>
</button>
<script src="../js/theme.js"></script>
<script src="../js/back-to-top.js"></script>
</body>
</html>